@model IEnumerable<Building>

@foreach (var category in Model)
{
    <a class="btn btn-block
       @(category?.Id_l1.ToString() == ViewBag.BuildingId &&
        category?.Id_l2.ToString() == ViewBag.SectionId
        ? "btn-primary": "btn-secondary")"
       asp-action="Index"
       asp-controller="Home"
       asp-route-buildingId=@(category.Id_l1)
       asp-route-sectionId=@(category.Id_l2)>
        @(category.L1_name)
        <br>
        @(category.L2_name)    
    </a>
}
